<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Participants</title>
</head>
<body>

    <h3>Participants</h3>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <tr th:each="participant : ${participants}">
            <td th:text="${participant.id}">1</td>
            <td th:text="${participant.name}">Yazan</td>
            <td>
                <form th:action="@{/participants/{id}(id=${participant.id})}" method="post">
                    <button name="action" value="delete" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    </table>

    <h3>Add new participant</h3>
    <form th:object="${participant}" th:action="@{/participants}" method="post">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Name" autofocus="autofocus" />
        <button type="submit">Add</button>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error message</div>
    </form>

</body>
</html>